input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.conditie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-1 {
    background-color: #cccccc;
    width: 390px;
    height: 320px;
}

.h3_form-1 {
    margin: 20px 5px 5px 5px;
}

#f1 {
    margin: 0px 5px 0px 5px;
}

.produse {
    display: block;
    /* width: 100px;
  vertical-align: left; */
}

.produse_b1 {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0px 10px 0px;
}

.produse_b2 {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.form-1_button {
    background-color: #008000;
    width: 100px;
    height: 25px;
    color: #fff;
    margin: 10px 0px 10px 40px;
    cursor: pointer;
}

.form-2 {
    width: 440px;
    height: 350px;
    background-color: #66ff99;
    padding: 5px;
}

.form-31 {
    width: 600px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.form-31 input {
    margin-bottom: 10px;
}

.f3_f1 {
    width: 550px;
    height: 125px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(/img/user.png);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-size: contain;
}

.f3_f1 .l1i label {
    display: block;
    margin-bottom: 15px;
    margin-right: 10px;
}

.l1i {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    margin-left: -21px;
}

.f3_f2 {
    width: 550px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(/img/email.png);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: center;
    background-size: 133px;
}

.f3_f2 .l1 label {
    display: block;
    margin-bottom: 15px;
    margin-right: 10px;
}

.l1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
}

#f3_dbrith {
    margin-top: 7px;
}

.f4 {
    padding: 10px;
    border: 1px solid red;
    background-color: #87cefa;

}

.f_table {
    width: 300px;
    text-align-last: center;

    background-color: #87cefa;
}

.b_f4 {
    background-color: red;
    color: yellow;
    font-size: 16px;
    margin: 10px 15px 10px 35px;
}

.f5 {
    width: 500px;
    height: 520px;
    padding: 10px;
    background-color: #ececec;
    color: #777778;
}

.input_content,
.input_f6 {
    display: flex;
    flex-direction: row;
    color: #777778;
}

.l-right {
    display: flex;
    flex-direction: column;
}

.l-left {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 12px;

}

.l-left input {
    border-radius: 4px;
    padding: 2px;

    /* border: none */
}

.b_f5 {
    width: 75px;
    background-color: #999;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.calc-media {
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    color: #4179B8;
}

.f6 {
    width: 450px;
    border: 10px solid black;
    padding: 10px;
}

.l-right-f6 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    /* padding-top: 5px; */
    font-size: 18px;

}

.l-left-f6 {
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 1rem;
    align-items: baseline;

}

.l-left-f6 label {

    font-size: 18px;
}

#num1,
#num2,
#num3 {
    height: 23px;
    background-color: #f5f5f5;
    border: none;

}

.b_f6_determin,
.b_f6_delete {
    width: 275px;
    margin-bottom: 10px;
    font-size: x-large;
    color: #4179B8;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        max-width: 800px
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none
}